a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
a {
  color: inherit;
}
p {
  line-height: 2em;
}
body {
  font-family: "Montserrat", sans-serif;
}
/*To remove border line in iOS devices */
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.navbar-brand img {
  height: 45px;
  transition: all 300ms ease-in-out;
  transition-property: height, transform;
  transform-origin: left;
}
.navbar {
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.bg-light {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.navbar-brand {
  margin: 0;
}
.navbar-expand-md .navbar-nav .nav-link {
  /* padding: 10px 0.5em; */
  line-height: normal;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: color 200ms ease-in-out, border-color 200ms ease;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #14b8ca;
}
.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 2px solid #14b8ca;
}

@media (min-width: 992px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 10px 1.4em;
  }
  .navbar-text {
    padding-right: 8vw;
  }
  .navbar-brand {
    padding-left: 8vw;
  }
}
.navbar-light .navbar-text a {
  font-size: 1.1em;
  font-weight: bold;
  transition: color 200ms ease-in-out;
}
.navbar-light .navbar-text a:hover {
  color: #14b8ca;
}
.nav-item {
  display: flex;
  justify-content: center;
}
/* Start Ham Styling */
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-toggler {
  position: relative;
  padding: 4px;
  width: 50px;
  height: 50px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler.collapsed > .ham {
  width: 28px;
}
.navbar-toggler.collapsed > .ham::before,
.navbar-toggler.collapsed > .ham::after {
  transform: translate(0px, 0px) rotate(0deg);
}
.ham,
.ham::before,
.ham::after {
  background-color: #7c7c7d;
  border-radius: 1px;
  width: 28px;
  height: 2px;
  transition: transform 300ms ease-in-out;
}
.ham {
  width: 1px;
  padding: 0;
  margin: 0 auto;
  transition: width 300ms ease-in-out;
}
.ham::before,
.ham::after {
  content: "";
  position: absolute;
  transform-origin: right;
  left: calc(50% - 14px);
}
.ham::before {
  top: 33%;
  transform: translate(-4px, -3px) rotate(-45deg);
}
.ham::after {
  bottom: 33%;
  transform: translate(-4px, 3px) rotate(45deg);
}
/* End Ham Styling */

.carousel {
  position: relative;
  text-align: center;
  padding-top: 62px;
  height: calc(500px + 62px);
  width: 100%;
  overflow: hidden;
  color: #fff;
}

.carousel-label {
  background-color: rgba(20, 184, 202, 0.8);
  padding: 0 1em;
  font-weight: 300;
  font-size: 35px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65vw;
  transform: translate(-60%, 20%);
  transition: opacity 800ms 300ms ease-in, transform 600ms ease;
}
@media (min-width: 375px) {
  .navbar-brand img {
    height: 50px;
    transform: scale(1.2);
  }
  .navbar-brand img:hover {
    transform: scale(1.25);
  }
}

@media (min-width: 720px) {
  .navbar-brand img {
    height: 50px;
    transform: scale(1.6);
  }
  .navbar-brand img:hover {
    transform: scale(1.65);
  }
  .carousel-label {
    font-size: 45px;
    width: initial;
  }
  .navbar-light .navbar-text a {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  .nav-item::after {
    align-self: center;
    color: lightgrey;
    content: "/";
  }
  .nav-item.end::after {
    content: none;
  }
}
.slick-active .carousel-label {
  opacity: 1;
  transform: translate(-50%, 20%);
}

/* Needed to be 100% for carousel img to properly size */
.slick-list,
.slick-track,
.slick-slide {
  height: 100%;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-prev {
  font-size: 3em;
  z-index: 1;
  left: 15px;
}
.slick-next {
  right: 15px;
}
.slick-dots {
  bottom: 20px;
}
.slick-dots li button {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.slick-dots li button::before {
  content: "";
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.slick-prev::before,
.slick-next::before {
  font-size: 60px;
  line-height: unset;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.slick-next::before {
  content: "⟩";
}
.slick-prev::before {
  content: "⟨";
}

.ul-list {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.ul-list h4 {
  text-align: center;
}

.ul-list h4 a {
  padding: 0.5em;
  display: block;
  transition: color 200ms ease-in-out;
}
.ul-list h4 a:hover {
  color: #14b8ca;
}

section {
  padding-top: 100px;
  margin-top: -40px;
}
section p {
  color: #1d2b36;
  /* color: #8b8989; */
  /* color: rgba(41, 41, 41); */
  /* color: #545454; */
}

/* Start Form */
form {
  margin-bottom: 50px;
}
.form-group {
  position: relative;
  height: 3.5em;
}

.form-group--icon,
.form-group--label,
.form-group--input {
  color: #757575;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 200ms ease-in-out;
  transition-property: color tranform;
}
.form-group--text-area label,
.form-group--text-area i {
  top: 20%;
}
.form-group--icon {
  font-size: 1.5em;
}
.form-group--label {
  transform-origin: left;
  left: 2em;
}
.form-group--input {
  color: initial;
  width: calc(100% - 2em);
  margin-left: 2em;
  border: 0;
  border-bottom: 1px solid #7c7c7d;
}
.form-group--text-area {
  height: 8.5em;
}
textarea.form-group--input {
  resize: none;
  height: 7em;
}
.form-group--input:focus {
  outline: none;
  border-bottom: 1px solid #14b8ca;
}
.form-group--input:focus ~ label,
.form-group--input:not(:placeholder-shown) ~ label {
  color: #14b8ca;
  transform: translateY(-130%) scale(0.8);
}
.form-group--input:focus ~ i,
.form-group--input:not(:placeholder-shown) ~ i {
  color: #14b8ca;
  transform: translateY(-52%) scale(1.1);
}
.form-group--input:focus ~ i {
  color: #14b8ca;
}
.btn-default {
  color: #fff;
  background-color: #1292a0;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-default:focus,
.btn-default:hover {
  color: #fff;
  background-color: #14b8ca;
  /* box-shadow: none; */
}

.btn-default:active {
  color: #fff;
  background-color: #067b88 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
/* End Form */

.contact-links a span {
  color: #067b88;
}
.contact-links a:hover {
  color: inherit;
}
.contact-links a:hover span {
  color: #14b8ca;
}
.mapouter {
  position: relative;
  text-align: center;
  padding: 0;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  background-color: #14b8ca;
  padding-top: 80%;
}
.mapouter .gmap_canvas iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 500px) {
  .gmap_canvas {
    padding: 0;
  }
  .mapouter .gmap_canvas iframe {
    position: relative;
    height: 400px;
    width: 500px;
  }
}

footer {
  color: #fff;
  background-color: #333333;
  padding: 25px 0;
}
.social-links ul {
  list-style-type: none;
  margin-bottom: 20px;
}
.social-links ul li {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  transition: background-color 300ms ease-in-out;
}
.social-links ul li a {
  text-decoration: none;
  color: inherit;
}
.social-links ul li:hover {
  cursor: pointer;
  background-color: #14b8ca;
}
.copyright {
  font-size: 14px;
  font-weight: 300;
  font-variant-caps: small-caps;
  color: #6d6f70;
}
.copyright a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.copyright a:hover {
  color: #14b8ca;
}
.back-to-top {
  /* color: #6d6f70; */
  color: #1292a0;
  font-size: 3em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* display: none; */
  transform: translateY(90px);
  transition: transform 300ms ease-in-out;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
.back-to-top:hover {
  color: #14b8ca;
}
.back-to-top.show {
  transform: translateY(0px);
}
